*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  /*background-color: #e5f9e0;*/
}

/* --- navbar --- */

nav {
  background-color: #2f9c95;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
}

nav > * {
  cursor: pointer;
}

.nav_ul {
  display: flex;
  align-content: center;
}

#page {
  font-size: 18px;
}

#title {
  font-weight: 900;
  font-size: 20px;
}

li {
  margin: 16px 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  /*color: #e5f9e0;*/
  border-bottom: 3px solid #40c9a2;
  padding-bottom: 3px;
}

ul {
  list-style: none;
}

.current {
  border-bottom: 3px solid #40c9a2;
  padding-bottom: 3px;
}

/* ------ highlights page ------ */

#league {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 0 60px 60px 60px;
}

.highMatch {
  width: 600px;
  margin: 60px auto;
  background-color: #40c9a2;
  box-shadow: 5px 5px 5px #606060;
}

.highVideo {
  width: 100%;
}

.highTeams {
  text-align: center;
  padding: 20px;
  color: #2b2d42;
  /*box-shadow: -6px -6px #2f9c95;*/
}

/* ------ standings page ------ */

#table {
  margin: 0 0 60px 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.staTeam {
  display: flex;
  align-items: center;
  /*justify-content: start;*/
  cursor: pointer;
}

.staTeam:hover {
  background-color: #efefef;
}

.staTeam > * {
  display: inline-block;
}

.staPos {
  background-color: #40c9a2;
  padding: 12px;
  width: 44px;
  border-radius: 50%;
  color: #2b2d42;
  text-align: center;
}

.staName {
  margin-left: 10px;
  position: absolute;
  left: 190px;
  color: #2b2d42;
}

.staPoints {
  position: absolute;
  right: 480px;
  margin: 0 40px 0 0;
  color: #2b2d42;
}

.staCrest {
  width: 60px;
  height: auto;
  background-color: #fff;
  padding: 8px;
  margin-left: 28px;
  border-radius: 50%;
  position: absolute;
  left: 100px;
}

.staPlayed {
  position: absolute;
  right: 270px;
}

.staGD {
  position: absolute;
  right: 30px;
  margin: 0 40px 0 0;
}

.standings_url {
  background-color: #e5f9e0;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.standings_url > li {
  display: inline-block;
  margin: 20px;
  color: #2b2d42;
}

.stand_pos {
  position: absolute;
  left: 10px;
}
.stand_points {
  position: absolute;
  right: 482px;
}
.stand_name {
  position: absolute;
  left: 176px;
}

.stand_played {
  position: absolute;
  right: 220px;
}

.stand_diff {
  position: absolute;
  right: 0;
}

/*------ home page ------*/
.home_text {
  width: 40%;
  margin: 60px auto;
  text-align: center;
  line-height: 26px;
}

#button_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#back_button {
  width: 20%;
  margin: 20px auto;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
}

#back_button_a {
  color: #000;
}

#back_button_a:hover {
  border-bottom: none;
  background-color: #e0e0e0;
}
